@import "tailwindcss";

@theme {
  --font-sans: "Inter", sans-serif;
  --font-display: "Space Grotesk", sans-serif;
  
  --color-sky-50: #f0f9ff;
  --color-sky-100: #e0f2fe;
  --color-sky-150: #bae6fd;
  --color-sky-400: #38bdf8;
  --color-sky-500: #0ea5e9;
  --color-sky-600: #0284c7;
  --color-sky-700: #0369a1;

  --color-mint-50: #f0fdf4;
  --color-mint-100: #dcfce7;
  --color-mint-200: #bbf7d0;
  --color-mint-400: #4ade80;
  --color-mint-500: #22c55e;
  --color-mint-600: #16a34a;
  
  --color-yellow-50: #fefce8;
  --color-yellow-100: #fef08a;
  --color-yellow-400: #facc15;
  --color-yellow-500: #eab308;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 130px;
}
